# Ignore Python virtual environments
.venv/
venv/

# Ignore environment variable files
.env

# Ignore CSV files (e.g., large datasets)
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
